[submodule "pkg/yay"]
	path = pkg/yay
	url = https://aur.archlinux.org/yay
	ignore = dirty
[submodule "pkg/plantuml"]
	path = pkg/plantuml
	url = https://aur.archlinux.org/plantuml
	ignore = dirty
[submodule "pkg/wordnet"]
	path = pkg/wordnet
	url = https://aur.archlinux.org/wordnet
	ignore = dirty
[submodule "pkg/waf-git"]
	path = pkg/waf-git
	url = https://aur.archlinux.org/waf-git
	ignore = dirty
[submodule "pkg/rstudio-desktop-bin"]
	path = pkg/rstudio-desktop-bin
	url = https://aur.archlinux.org/rstudio-desktop-bin
	ignore = dirty
[submodule "pkg/mimeo"]
	path = pkg/mimeo
	url = https://aur.archlinux.org/mimeo
	ignore = dirty
[submodule "pkg/perl-term-shellui"]
	path = pkg/perl-term-shellui
	url = https://aur.archlinux.org/perl-term-shellui.git
	ignore = dirty
[submodule "pkg/urxvt-vim-scrollback-git"]
	path = pkg/urxvt-vim-scrollback-git
	url = https://aur.archlinux.org/urxvt-vim-scrollback-git.git
	ignore = dirty
[submodule "pkg/powerline-console-fonts"]
	path = pkg/powerline-console-fonts
	url = https://aur.archlinux.org/powerline-console-fonts.git
	ignore = dirty
[submodule "pkg/psysh"]
	path = pkg/psysh
	url = https://aur.archlinux.org/psysh.git
	ignore = dirty
[submodule "pkg/planck-git"]
	path = pkg/planck-git
	url = https://aur.archlinux.org/planck-git.git
	ignore = dirty
[submodule "pkg/leiningen"]
	path = pkg/leiningen
	url = https://aur.archlinux.org/leiningen.git
	ignore = dirty
[submodule "pkg/cling-git"]
	path = pkg/cling-git
	url = https://aur.archlinux.org/cling-git.git
	ignore = dirty
[submodule "pkg/python-astropy"]
	path = pkg/python-astropy
	url = https://aur.archlinux.org/python-astropy.git
	ignore = dirty
[submodule "pkg/erfa"]
	path = pkg/erfa
	url = https://aur.archlinux.org/erfa.git
	ignore = dirty
[submodule "pkg/mutt-wizard-git"]
	path = pkg/mutt-wizard-git
	url = https://aur.archlinux.org/mutt-wizard-git.git
	ignore = dirty
[submodule "pkg/mkosi"]
	path = pkg/mkosi
	url = https://aur.archlinux.org/mkosi-git
	ignore = dirty
[submodule "pkg/python-astropy-helpers"]
	path = pkg/python-astropy-helpers
	url = https://aur.archlinux.org/python-astropy-helpers.git
	ignore = dirty
